.box {
    cursor: pointer;
    position: relative;
    border-top: 0;
    margin-bottom: 30px;
    width: 100%;
    background: #fff;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}
.not-found {
    text-align: center;
    font-weight: normal;
    color: gray;
    margin: 5rem;
}
.button-action {
    cursor: pointer;
    width: 100%;
}
H4 svg {
    width: 1rem;
}
.badge-disabled {
    color: gray;
    cursor: not-allowed;
}
/* input rounded */
.input-rounded {
    border-radius: 50px !important;
}
.button-search {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1rem;
    height: 100%;
    cursor: pointer;
    z-index: 4;
}
/* color background */
.color-primary {
    color: #04a9f5;
}
.color-disable {
    color: gray;
}
.bg-pink {
    background-color: #FF8BA4 !important;
    color: #FFF;
}
.bg-green {
    background-color: #8FB9AB !important;
    color: #FFF;
}
.bg-purple {
    background-color: #765D69 !important;
    color: #FFF;
}
.bg-blue {
    background-color: #69C3FF !important;
    color: #FFF;
}
.bg-dark-blue {
    background-color: #305F72 !important;
    color: #FFF;
}
.bg-danger {
    background-color: #f44236 !important;
    color: #fff;
}
.bg-primary {
    background-color: #04a9f5 !important;
    color: #fff;
}
.bg-success {
    background-color: #14cc9e !important;
    color: #fff;
}
.bg-warning {
    background-color: #f4c22b !important;
    color: #fff;
}
.box-header {
    color: #111111;
    display: block;
    padding: 1.5rem 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(97, 106, 120, 0.07);
    border-radius: 15px 15px 0 0;
}
.box.box-solid[class*=bg]>.box-header {
    color: #fff;
}
.box-header.with-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
/* avatar */
.avatar-lg {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 1.125rem;
}
.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #9a9a9a;
    text-transform: uppercase;
}
.rounded-circle {
    border-radius: 50%!important;
}
img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

/* h4 */
.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
    display: inline-block;
    margin: 0;
}
.box-title {
    z-index: auto;
}
.float-right {
    float: right!important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}

/* bottom box */
.box-solid .box-body {
    background-color: #ffffff !important;
    color: #310808;
}
.box-body {
    padding: 1.25rem 1.5rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 15px;
}
/* text center */
.box-body > *:last-child {
    margin-bottom: 0;
}
.text-center {
    text-align: center!important;
}
/* socmed */
.user-social {
    text-align: center;
}
.p-15 {
    padding: 15px !important;
}
.font-size-16 {
    font-size: 1.143rem !important;
}
/* info address */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}