<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control input-rounded"
        placeholder="Search by instagram id"
        [(ngModel)]="title"
        (keyup.enter)="searchInstagramID()"
        (keyup.backspace)="searchInstagramIDWhenNull()"
      />
      <i class="fa fa-search button-search" (click)="searchInstagramID()"></i>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Follower List</h4>
    <div *ngIf="tutorials?.length < 1" class="not-found">
      <h4>Follower tidak ditemukan</h4>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let user of tutorials; let i = index" (click)="setActiveTutorial(user, i)">
        <div class="box box-solid" [ngClass]="bgColorList[i % bgColorList?.length]">
          <div class="box-header with-border">
            <img class="avatar avatar-lg rounded-circle" src="../../images/avatar/1.jpg" alt="">
            <h4 class="box-title float-right">{{user.Nama}}</h4>
            <h4 style="font-size: .8rem;">
              <small>
                <i class="fa fa-instagram"></i>
                @{{user.InstagramID}}
              </small></h4>
          </div>
          <div class="box-body">
            <div class="text-center">
              <div class="gap-items user-social font-size-16">
                <i class="fa fa-globe" [ngClass]="user.Sumber === 'web' ? 'color-primary' : 'color-disable'"></i>
                <span>&nbsp;</span>
                <i class="fa fa-instagram" [ngClass]="user.Sumber === 'ig' ? 'color-primary' : 'color-disable'"></i>
              </div>
              <div class="button-action">
                <div class="badge" [ngClass]="user.Status ? 'bg-primary' : 'badge-danger'">
                  {{ user.Status ? "Aktif" : "Tidak Aktif" }}
                </div>
              </div>
              <i class="fa fa-map-marker"></i> {{user.Alamat}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button class="btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button> -->
  </div>
  <div class="col-md-3">
    <div *ngIf="currentContact">
      <h4>Detail</h4>
      <div>
        <label><strong>Nama:</strong></label> {{ currentContact.Nama }}
      </div>
      <div>
        <label><strong>Instagram:</strong></label>
        @{{ currentContact.InstagramID }}
      </div>
      <div>
        <label><strong>No Telepon:</strong></label>
        {{ currentContact.NoTelepon }}
      </div>
      <div>
        <label><strong>Alamat:</strong></label>
        {{ currentContact.Alamat }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentContact.Status ? "Aktif" : "Tidak Aktif" }}
      </div>
      <div>
        <label><strong>Sumber:</strong></label>
        {{ currentContact.Sumber }}
      </div>
      <br>
      <div class="button-action badge" [ngClass]="currentContact.IsContact ? 'badge-disabled' : 'badge-success'" (click)="addToContact(currentContact.id)">
        Add To Contact
      </div>
      <br>
    </div>

    <div *ngIf="!currentContact">
      <br />
      <p>Please click on a follower...</p>
    </div>
  </div>
</div>
