<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="nama">Nama</label>
        <input
          type="text"
          class="form-control"
          id="nama"
          required
          [(ngModel)]="contactUser.nama"
          name="nama"
        />
      </div>

      <div class="form-group">
        <label for="alamat">Alamat</label>
        <input
          class="form-control"
          id="alamat"
          required
          [(ngModel)]="contactUser.alamat"
          name="alamat"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="contactUser.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="noTelepon">No Telepon</label>
        <input
          class="form-control"
          id="noTelepon"
          required
          [(ngModel)]="contactUser.noTelepon"
          name="noTelepon"
        />
      </div>
      
      <div class="form-group">
        <label for="instagramID">Instagram ID</label>
        <input
          class="form-control"
          id="instagramID"
          required
          [(ngModel)]="contactUser.instagramID"
          name="instagramID"
        />
      </div>

      <div class="form-group">
        <label for="sumber">Sumber</label>
        <div>
          <select [(ngModel)]="contactUser.sumber">
            <option value="web">Web</option>
            <option value="ig">Instagram</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <div>
          <select [(ngModel)]="contactUser.status">
            <option [ngValue]="true">Aktif</option>
            <option [ngValue]="false">Tidak Aktif</option>
          </select>
        </div>
      </div>

      <button (click)="saveContact()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div>
</div>
