<div class="row">
  <div class="col-sm-12 col-md-6">
    <div style="display: block;">
      <canvas baseChart 
        [data]="activeChartData"
        [labels]="activeChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div style="display: block;">
      <canvas baseChart 
        [data]="sumberChartData"
        [labels]="sumberChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
    </div>
  </div>
  <div class="col-sm-12">
    <canvas baseChart width="400" height="100"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="input-group mb-3">
      <!-- <input
        type="text"
        class="form-control input-rounded"
        placeholder="Search by instagram id"
        [(ngModel)]="title"
        (keyup.enter)="searchInstagramID()"
        (keyup.backspace)="searchInstagramIDWhenNull()"
      /> -->
      <!-- <i class="fa fa-search button-search" (click)="searchInstagramID()"></i> -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 order-2 order-md-1">
    <div class="box">
      <div class="box-header with-border">						
        <h4 class="box-title">Contact ({{ contacts?.length }})</h4>
        <!-- <h6 class="box-subtitle">List of ticket opend by customers</h6> -->
      </div>
      <div class="card" *ngFor="let contact of contacts; let i = index">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="influencer-profile-data">
                    <div class="media">
                        <div class="media-body">
                            <div class="m-b-20">
                                <div class="user-avatar-name">
                                    <h2 class="font-24">{{ contact.Nama }}</h2></div>
                                <div class="rating-star d-inline-block">
                                  <i class="fa fa-envelope"></i>&nbsp;<p class="d-inline-block text-dark">{{ contact.Email ? contact.Email : 'N/A' }}</p>
                                </div>
                            </div>
                            <div class="user-avatar-address">
                                <i class="fa fa-map-marker"></i>&nbsp;<p class="d-inline-block ">{{ contact.Alamat }}</p>
                                <div>
                                  <i class="fa fa-phone"></i>&nbsp;<p class="d-inline-block ">{{ contact.NoTelepon }}</p>
                                </div>
                                <div class="mt-3">
                                    <a class="mr-1 badge badge-light">{{ contact.Sumber }}</a>
                                    <a class="mr-1 badge" [ngClass]="contact.Status === true ? 'badge-primary' : 'badge-warning' ">{{ contact.Status === true ? 'Aktif' : 'Tidak Aktif' }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
              <div class="float-right">
                <a class="btn btn-secondary" (click)="deleteContact(contact.id, i)">Hapus Kontak</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card col-xs-12 col-md-4 order-1 order-md-2" style="height: fit-content;">
    <div class="card-filter">
        <h3 class="font-16">Sumber</h3>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck13" [(ngModel)]="sumberWeb">
          <label class="custom-control-label" for="customCheck13">Web</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck14" [(ngModel)]="sumberIG">
            <label class="custom-control-label" for="customCheck14">Instagram</label>
        </div>
    </div>
    <div class="card-filter border-top">
        <h3 class="font-16">Tanggal</h3>
        dari
        <div>
          <dp-date-picker [(ngModel)]="selectedDate" theme="dp-material" [config]="datePickerConfig" style="max-width: 100%;"></dp-date-picker>
        </div>
        sampai
        <div>
          <dp-date-picker [(ngModel)]="selectedDateUntil" theme="dp-material" [config]="datePickerConfig" style="max-width: 100%;"></dp-date-picker>
        </div>
    </div>
    <div class="card-filter border-top">
        <h3 class="font-16">Status</h3>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck15" [(ngModel)]="activeStatus">
            <label class="custom-control-label" for="customCheck15">Aktif</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck16" [(ngModel)]="nonActiveStatus">
            <label class="custom-control-label" for="customCheck16">Tidak Aktif</label>
        </div>
    </div>
    <div class="card-filter border-top">
        <a class="btn btn-secondary btn-lg btn-block" (click)="showFilter()">Tampilkan</a>
    </div>
  </div>
</div>
  