.box {
    position: relative;
    border-top: 0;
    margin-bottom: 30px;
    width: 100%;
    background: #fff;
    padding: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}
.box-header.with-border {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.box-header {
    color: #111111;
    display: block;
    padding: 1.5rem 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(97, 106, 120, 0.07);
    border-radius: 15px 15px 0 0;
}
.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
    display: inline-block;
    margin: 0;
}
.box-title {
    z-index: auto;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}

.box .box-header .box-subtitle {
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #99abb4;
}
h6 {
    line-height: 16px;
    font-size: 14px;
}
/* body */
.box-body {
    padding: 1.25rem 1.5rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 15px;
}
.p-15 {
    padding: 15px !important;
}
.box-body > *:last-child {
    margin-bottom: 0;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* search */
.input-rounded {
    border-radius: 50px !important;
}
.button-search {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1rem;
    height: 100%;
    cursor: pointer;
    z-index: 4;
}
/* date picker */
.dp-date-picker {
    max-width: 100%;
}

:host /deep/ .dp-date-picker.dp-material .dp-picker-input {
    max-width: 100%;
}

.card-filter {
    /* padding: 1rem; */
    margin: 1rem 0;
}

/* card list */
.card {
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.align-items-center {
    align-items: center !important;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.media {
    display: flex;
    align-items: flex-start;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.user-avatar-xl {
    height: 90px;
    width: 90px;
}
.rounded-circle {
    border-radius: 50%!important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.media-body {
    flex: 1;
}